@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;700&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Ubuntu' , sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: inline;
}
nav{
    background-color: #0c95ff;
    padding: 5px;
    position: sticky;
    top: 0;
}
nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}
nav li{
    list-style-type: none;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-weight: bold;
}

.content {
    display: flex;
    flex: 5;
    flex-flow: column nowrap;
}
.brief-introduce{
    display: flex;
    background-color: #0626ff;
    color: white;
    margin: 0 auto;
    padding: 50px 10px;
}
.brief-introduce .text{
    flex: 4;
    margin-left: 10px;
}
.brief-introduce .programmerImage img{
    max-width: 125%;
}
.brief-introduce .programmerImage{
    flex: 1;
    margin-right: 100px;
}

.content .skill {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #c6deee;
}
.content .skill .skillContent{
    display: flex;
}
.card{
    margin: 10px;
    flex: 1;
}
.content .skill .skillContent .card .header img{
    max-width: 150px;
    display: block;
    margin: 0 auto;
}
.content .skill .skillContent .card .header{
    height: 150px;
    align-items: center;
    margin: 10px auto;
}
.card .brief-content{
    text-align: center;
}

.content .experience{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #0c95ff;
}
.content .experience .experienceContent{
    display: flex;
}
.content .experience .experienceContent .card {
    box-shadow: 0 4px 5px 1px gray;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #b0d8ee;
    padding: 0 3px;
}
.content .experience .experienceContent .card .header{
    max-height: 25px;
    align-items: center;
    margin: 15px auto;
}
.content .experience .experienceContent .header img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

aside{
    background-color: #c6deee;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
aside .profile-card{
    box-shadow: 0 4px 5px 1px gray;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #0c95ff;
    padding: 15px;
    margin: 20px;
}
.profile-card header h2{
    margin: 15px auto;
    align-items: center;
    text-align: center;
}
.profile-card header img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}
footer{
    padding: 15px;
    color: white;
    background-color: #0626ff;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
    p{
        font-size: 0.80rem;
    }
    main h4 {
        font-size: 2rem;
    }
    main h3 {
        font-size: 2.5rem;
    }
    main .content .brief-introduce .text p {
        font-size: 2rem;
    }
}